// --- fonts
// === / fonts
// --- mixins
// === / mixins
// --- variables
$screen_xs_max: 575.98px;
$screen_sm_max: 767.98px;
$screen_md_max: 991.98px;
$screen_lg_max: 1199.98px;
$screen_xl_max: 1399.98px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
$screen_xxl: 1400px;
// === / variables
// --- commons
* {
    box-sizing: border-box;
}

.body {
    a,
    a:hover {
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: #fff;
    }
    // ul {
    //     list-style: none;
    // }
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}