// --- fonts
// === / fonts
// --- mixins
// === / mixins
// --- variables
$screen_xs_max: 575px;
$screen_sm_max: 767px;
$screen_md_max: 991px;
$screen_lg_max: 1199px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
// === / variables
// --- commons
* {
    box-sizing: border-box;
}

.body {
    a,
    a:hover {
        text-decoration: none;
        color: #fff;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

section {
    padding-top: 150px;
}

// === / commons
// --- header
// === / header
// --- intro
// === / intro
// --- promo
// === / promo
// --- about
// === / about
// --- feedback
// === / feedback
// --- contacts
// === / contacts